   @-moz-document url-prefix()
 {
    html, 
    body, 
    input, 
    textarea,
    .input-text, 
    .login a, 
    .footer p,
    .admin-panel-menu__link,
    .admin-panel-sign-out__link {font-weight: 300;}
 }   

.notification__error--text{
	padding: 0;
	line-height: 1.3;
	margin-top: 15px;
	margin-bottom: 10px;
}

.notification__error--added-text {
	padding: 5px 15px 15px;
}

.notification__error--added-text p {
	margin-top: 0;
	margin-bottom: 10px;
}

.notification__error--added-text p:last-child {
	margin-bottom: 0;
}
.notification__error {
	margin-top: 15px;
	margin-bottom: 10px;
}
.hidden {
	display: none;
}
.password-remember-return {
	text-align: center;
	padding: 10px 0 25px;
}

.notification__success--top-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 10px;
}
.button--set-new-password {
	padding-left: 25px;
	padding-right: 25px;
}
.registration-form {
	padding-top: 35px;
}
.registration-form > .title-1 {
	margin-top: 0;
}
.avatar--big {
	background-image: url(..//img/avatars/avatar-big.png);
}
.avatar--small {
    background-image: url(..//img/avatars/avatar-small.png);
    width: 48px;
    height: 48px;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.avatar--small img {
    height: 48px;
    width: 48px;
}

.load-file-wrap {
    margin-top: 20px;
    display: inline-block;
    position: relative;
}
.load-file-wrap-img__image {
    max-width: 100%;
    height: auto;
    min-width: 130px;
    min-height: 70px;
    background-color: lightgray;
}
.load-file-wrap__button {
    position: absolute;
    bottom: 13px;
    right: 13px;
}
.load-file-wrap {
    margin-top: 20px;
    display: inline-block;
    position: relative;
}
.load-file-wrap-img__image {
    max-width: 100%;
    height: auto;
}
.load-file-wrap__button {
    position: absolute;
    bottom: 13px;
    right: 13px;
}

.navigation .navigation__item--active a{
    text-decoration: none;
}

.card-post {
    margin: 0 15px 50px;
}
.blog-card-row {
    display: flex;
    margin-bottom: 50px;
}
.card-post__image {
    overflow: hidden;
}
.blog__button--edit {
    display: flex;
    align-items: flex-start;
}
.blog-post__content {
    line-height: 1.5;
}

body::before {
  content:;
  display: none;
}
.sticky-footer-wrapper {
    height: 100vh;
}
/*@media (max-width: 767px) {*/
    .footer{
        height: auto;
        padding-bottom: 20px;
    }
     .footer-column{
        margin-bottom: 50px;
    } 
/*}*/

.select{
    margin-top: 10px;
    padding: 9px 15px;
    transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
    border-radius: 4px;
    border: 1px solid #b1bfc7;
    outline: none;
}
.select:focus,
.select:active {
    outline-style: none;
    -webkit-box-shadow: 0 0 0 3px rgba(139, 167, 197, 0.25);
    box-shadow: 0 0 0 3px rgba(139, 167, 197, 0.25);
}
.textarea {
    margin-top: 0;
}
.two-comments-container {
    -webkit-align-items: inherit;
            align-items: inherit;
}
.message-date-container {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.message-delete-button {
    position: static;
    margin-right: 25px;
    margin-top: 5px;
}
.admin-panel-menu__link {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-text {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 1;
}
a.message-author--email {
    padding-left: 0;
}
.message-author--name {
    margin-right: 20px;
}
.about-text h2 {
    font-weight: 800;
}
.work-experience-wrapper {
    margin-bottom: 35px;
}
.work-experience-wrapper:last-child {
    margin-bottom: 0;
}
/*indicator*/
.indicator {
    position: relative;
}
.indicator__value {
    display: inline-block;
    text-align: center;
    /*font-size: 32px;*/
    /*font-weight: 800;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-40%, -50%);*/
}
.circle {
    /*width: 136px;*/
    /*height: 136px;*/
    /*width: 112px;
    height: 112px;*/
}
.circle__bg {
    fill: transparent;
    stroke-width: 10px;
    stroke: rgba(226,226,226,0.05);
}
.circle__indicator {
    fill: transparent;
    stroke-width: 10px;
    stroke: rgba(255,255,255,0.5);
    /*stroke-dasharray: 289px;*/
}
.circle__indicator--green{
    stroke: #3aaa35;
}
.circle__indicator--blue{
    stroke: #009cf5;
}
.circle__indicator--yellow{
    stroke: #FFCC00;
}
/*//indicator*/
.mb-20 {
    margin-bottom: 20px;
}

